.page-header {
    background-color: #2a886c;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.product-form textarea,
.product-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.product {
    margin-bottom: 70px;
}

.product h2 a,
.product h2 a:visited {
    color: #000000;
}

.product > .date,
.product > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #2a886c;
    background: none;
    border-color: #2a886c;
}

.btn-default:hover {
    color: #FFFFFF;
    background-color: #2a886c;
}